In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data = pd.read_csv('train_wn75k28.csv')

In [3]:
data.head()

,id,created_at,campaign_var_1,campaign_var_2,products_purchased,signup_date,user_activity_var_1,user_activity_var_2,user_activity_var_3,user_activity_var_4,user_activity_var_5,user_activity_var_6,user_activity_var_7,user_activity_var_8,user_activity_var_9,user_activity_var_10,user_activity_var_11,user_activity_var_12,buy
0,1,2021-01-01,1,2,2.0,2020-09-24,0,0,0,0,0,0,1,1,0,0,0,0,0
1,2,2021-01-01,2,1,2.0,2020-09-19,1,0,1,0,0,0,1,0,0,0,0,0,0
2,3,2021-01-01,9,3,3.0,2021-08-11,1,0,0,0,0,0,0,0,0,0,0,0,0
3,4,2021-01-01,6,7,2.0,2017-10-04,0,0,0,0,0,0,0,0,0,0,0,0,0
4,5,2021-01-01,4,6,NaN,2020-06-08,0,0,0,0,0,0,1,0,0,0,1,0,0

In [4]:
data['products_purchased'].fillna(0.0, inplace=True)

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39161 entries, 0 to 39160
Data columns (total 19 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    39161 non-null  int64
 1   created_at            39161 non-null  object
 2   campaign_var_1        39161 non-null  int64
 3   campaign_var_2        39161 non-null  int64
 4   products_purchased    39161 non-null  float64
 5   signup_date           24048 non-null  object
 6   user_activity_var_1   39161 non-null  int64
 7   user_activity_var_2   39161 non-null  int64
 8   user_activity_var_3   39161 non-null  int64
 9   user_activity_var_4   39161 non-null  int64
 10  user_activity_var_5   39161 non-null  int64
 11  user_activity_var_6   39161 non-null  int64
 12  user_activity_var_7   39161 non-null  int64
 13  user_activity_var_8   39161 non-null  int64
 14  user_activity_var_9   39161 non-null  int64
 15  user_activity_var_10  39161 non-null  int64
 16  user_activity_var_11  39161 non-null  int64
 17  user_activity_var_12  39161 non-null  int64
 18  buy                   39161 non-null  int64
dtypes: float64(1), int64(16), object(2)
memory usage: 5.7+ MB

In [6]:
data = data.astype({'products_purchased' : int})

### extracting year, month and date from signup date

In [7]:
data['signup_date'].value_counts()

2021-07-18    45
2021-08-03    38
2021-01-28    38
2021-09-10    38
2021-09-20    38
              ..
2018-11-16     1
2018-05-20     1
2017-12-08     1
2017-10-12     1
2017-10-19     1
Name: signup_date, Length: 1800, dtype: int64

In [8]:
data.fillna('2002-08-18', inplace=True)

In [9]:
data = data.reset_index()

In [13]:
year = []
month = []
day = []

for i in range(0, 39161) :
    year.append(data['signup_date'][i].split('-')[0])
data['year_s'] = year

for i in range(0, 39161) :
    month.append(data['signup_date'][i].split('-')[1])
data['month_s'] = month

for i in range(0, 39161) :
    day.append(data['signup_date'][i].split('-')[2])
data['day_s'] = day

In [14]:
data = data.astype({'year_s' : int, 'month_s' : int, 'day_s' : int})

In [15]:
data = data.drop(['signup_date'], axis = 1)

In [16]:
year = []
month = []
day = []

for i in range(0, 39161) :
    year.append(data['created_at'][i].split('-')[0])
data['year_c'] = year

for i in range(0, 39161) :
    month.append(data['created_at'][i].split('-')[1])
data['month_c'] = month

for i in range(0, 39161) :
    day.append(data['created_at'][i].split('-')[2])
data['day_c'] = day

In [17]:
data = data.astype({'year_c' : int, 'month_c' : int, 'day_c' : int})

In [18]:
data = data.drop(['created_at'], axis = 1)

In [19]:
data.head()

,index,id,campaign_var_1,campaign_var_2,products_purchased,user_activity_var_1,user_activity_var_2,user_activity_var_3,user_activity_var_4,user_activity_var_5,...,user_activity_var_10,user_activity_var_11,user_activity_var_12,buy,year_s,month_s,day_s,year_c,month_c,day_c
0,0,1,1,2,2,0,0,0,0,0,...,0,0,0,0,2020,9,24,2021,1,1
1,1,2,2,1,2,1,0,1,0,0,...,0,0,0,0,2020,9,19,2021,1,1
2,2,3,9,3,3,1,0,0,0,0,...,0,0,0,0,2021,8,11,2021,1,1
3,3,4,6,7,2,0,0,0,0,0,...,0,0,0,0,2017,10,4,2021,1,1
4,4,5,4,6,0,0,0,0,0,0,...,0,1,0,0,2020,6,8,2021,1,1

In [20]:
x_train = data.iloc[:, [2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 18, 19, 20, 21, 22, 23]].values
y_train = data.iloc[:, 17].values

In [21]:
from sklearn.ensemble import RandomForestClassifier
clf=RandomForestClassifier(n_estimators=500)
clf.fit(x_train,y_train)

RandomForestClassifier(n_estimators=500)

In [22]:
data_test = pd.read_csv('test_Wf7sxXF.csv')

In [23]:
data_test['products_purchased'].fillna(0.0, inplace=True)

In [24]:
data_test = data_test.astype({'products_purchased' : int})

In [25]:
data_test.fillna('2002-08-18', inplace=True)

In [26]:
data_test = data_test.reset_index()

In [27]:
data_test.shape

(13184, 19)

In [28]:
year = []
month = []
day = []

for i in range(0, 13184) :
    year.append(data_test['signup_date'][i].split('-')[0])
data_test['year_s'] = year

for i in range(0, 13184) :
    month.append(data_test['signup_date'][i].split('-')[1])
data_test['month_s'] = month

for i in range(0, 13184) :
    day.append(data_test['signup_date'][i].split('-')[2])
data_test['day_s'] = day

In [29]:
year = []
month = []
day = []

for i in range(0, 13184) :
    year.append(data_test['created_at'][i].split('-')[0])
data_test['year_c'] = year

for i in range(0, 13184) :
    month.append(data_test['created_at'][i].split('-')[1])
data_test['month_c'] = month

for i in range(0, 13184) :
    day.append(data_test['created_at'][i].split('-')[2])
data_test['day_c'] = day

In [30]:
data_test = data_test.drop(['created_at', 'signup_date'], axis = 1)

In [31]:
data_test = data_test.astype({'year_c' : int, 'month_c' : int, 'day_c' : int, 'year_s' : int, 'month_s' : int, 'day_s' : int})

In [32]:
x_test = data_test.iloc[:, [2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22]].values

In [33]:
answer = list(clf.predict(x_test))

In [34]:
diction = {'id' : data_test['id'], 'buy' : answer}
final_answer = pd.DataFrame(diction)

In [35]:
final_answer['buy'].value_counts()

0    12871
1      313
Name: buy, dtype: int64

In [36]:
# final_answer.to_csv('randomf_final2.csv', index=False)